/* ============== Do not delete this ==========<!-- Watson Melo 75428 --> */
.section-selector-1 {
    background-color: var(--gray-200)
}

.col-3 h3 {
    margin-bottom: 16px
}


/* =============== Add your custom CSS below =========== */
header h1 {
    font-family: 'Prata', serif;
    font-weight: 400;
    line-height: 1.2
}